<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>com.msn.activity.ActivityPlugin</class>
    <name>Activity</name>
    <description>活动插件</description>
    <author>ZhaoKai</author>
    <version>1.0</version>
    <date>10/28/2015</date>
    <url>http://www.igniterealtime.org</url>
    <minServerVersion>3.9.0</minServerVersion>
</plugin>
